<template>
  <div class="row">
    <div class="col-lg-8 col-md-7 col-sm-6">
      <h1>ADFS RelayState Generator</h1>
      <p class="lead"> </p>
    </div>
    <div class="col-lg-4 col-md-5 col-sm-6"></div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form role="form" class="form-horizontal">
        <fieldset>
          <legend>fill in the three boxes below</legend>
          <div class="form-group">
            <div class="col-md-12">
              <input type="url" v-model="adfs.idp" placeholder="Identity Provider" autofocus class="form-control">
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <input type="url" v-model="adfs.rp" placeholder="Relying Party Identifier" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <input type="text" v-model="adfs.sp" placeholder="Target Application" class="form-control">
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="col-md-12" v-if="generateUrl">
      <div class="well">
        <div class="input-group">
          Copy or test the URL
          <div class="input-group-btn">
            <a href="{{ generateUrl }}" class="btn btn-primary btn-lg"><i class="fa fa-external-link"></i></a>
            <button type="button" class="btn btn-primary btn-lg hint--right" data-clipboard-target="#url"><i class="fa fa-clipboard"></i></button>
          </div>
        </div>
      </div>
      <code id="url" style="word-wrap: break-word; padding-top: 20px; padding-bottom: 20px;" class="col-md-12">{{ generateUrl }}</code>
    </div>
    <div class="clearfix"></div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      adfs: {
        idp: '',
        rp: '',
        sp: ''
      }
    }
  },
  computed: {
    generateUrl: function () {
      var RPID = encodeURIComponent(this.adfs.rp)
      var RelayState = encodeURIComponent(this.adfs.sp)

      if (RPID.length > 0 && RelayState.length > 0) {
        var unencoded = 'RPID=' + RPID + '&RelayState=' + RelayState
        return this.adfs.idp + '?RelayState=' + encodeURIComponent(unencoded)
      }
      return
    }
  }
}
</script>