<template>
  <div class="row">
    <div class="col-lg-8 col-md-7 col-sm-6">
      <h1>URL Encoder/Decoder</h1>
      <p class="lead"> </p>
    </div>
    <div class="col-lg-4 col-md-5 col-sm-6"></div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form role="form" v-on:submit.prevent="onSubmit" class="form-horizontal">
        <fieldset>
          <legend>Encode or decode</legend>
          <div class="form-group">
            <textarea class="col-xs-12" rows="5" v-model="dencoder.text" autofocus></textarea>
          </div>
          <div class="alert alert-danger" v-if="error"><p>{{ error }}</p></div>
          <div class="form-group text-center">
            <button @click="decode()" class="btn btn-primary hint--bottom" data-hint="Decode"><i class="fa fa-file-text-o fa-2x"></i></button>
            <button @click="encode()" class="btn btn-primary hint--bottom" data-hint="Encode"><i class="fa fa-file-code-o fa-2x"></i></button>
          </div>
        </fieldset>
      </form>
    </div>

    <div class="col-md-12" v-show="result" v-cloak>
      <div class="well">
        <div class="input-group">
          <div class="input-group-btn">
            <button type="button" class="btn btn-primary btn-lg hint--left" data-hint="Copy to the clipboard" 
              data-clipboard-target="#test"><i class="fa fa-clipboard"></i></button>
          </div>
        </div>
      </div>
      <code id="test" style="word-wrap: break-word; padding-top: 20px; padding-bottom: 20px;" class="col-md-12">{{ result }}</code>
      <p>&nbsp;</p>
      <div class="clearfix text-center">
        <button @click="reset()" class="btn btn-secondary">Click here to reset</button>
      </div>
    </div>
    </div>
    <div class="clearfix"></div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      dencoder: {
        text: ''
      },
      result: '',
      error: ''
    }
  },
  methods: {
    decode () {
      this.error = ''
      var encoded = this.dencoder.text
      if (encoded.length > 0) {
        var unencoded = decodeURIComponent(encoded.replace(/\+/g, ' '))
        this.result = unencoded
      } else {
        this.result = ''
        this.error = 'This value is required'
      }
    },
    encode () {
      this.error = ''
      var unencoded = this.dencoder.text
      if (unencoded.length > 0) {
        var encoded = encodeURIComponent(unencoded).replace(/'/g, '%27').replace(/"/g, '%22')
        this.result = encoded
      } else {
        this.result = ''
        this.error = 'This value is required'
      }
    },
    reset () {
      this.result = ''
      this.error = ''
    }
  }
}
</script>