<template>
  <div class="row">
    <div class="col-lg-8 col-md-7 col-sm-6">
      <h1>Password Generator</h1>
      <p class="lead"> </p>
    </div>
    <div class="col-lg-4 col-md-5 col-sm-6"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form role="form" class="form-horizontal">
        <fieldset>
          <legend>Generate your password</legend>
          <div class="row">
            <div class="col-md-2">
              <span class="text-primary">Number of password</span>
            </div>
            <div class="col-md-8">
              <input type="range" min="1" max="100" v-model="qty">
            </div>
            <div class="col-md-1 bg-primary">
              <span>{{ qty }}</span>
            </div>
          </div>
          <p>&nbsp;</p>
          <div class="row">
            <div class="col-md-2">
              <span class="text-primary">Length of password</span>
            </div>
            <div class="col-md-8">
              <input type="range" min="8" max="50" v-model="len">
            </div>
            <div class="col-md-1 bg-primary">
              <span>{{ len }}</span>
            </div>
          </div>
          <p>&nbsp;</p>
          <div class="alert alert-danger" v-if="error"><p>{{ error }}</p></div>
          <div class="form-group text-center">
            <button @click="reset()" class="btn btn-primary hint--bottom" data-hint="Reset"><i class="fa fa-undo fa-2x"></i></button>
            <button @click="generateRP()" class="btn btn-primary hint--bottom" data-hint="Generate"><i class="fa fa-repeat fa-2x"></i></button>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="col-md-12" v-show="words.length" v-cloak>
      <div class="well">
        <div class="input-group">
          <strong v-text="qty"></strong>&nbsp;{{ qty | pluralize 'password' }} of 
          <strong v-text="len"></strong>&nbsp;{{ len | pluralize 'character' }} generated
          <div class="input-group-btn">
            <button type="button" class="btn btn-primary btn-lg hint--left" data-hint="Copy to the clipboard" 
              data-clipboard-target="#passwords"><i class="fa fa-clipboard"></i></button>
          </div>
        </div>
      </div>
      <code id="passwords" style="word-wrap: break-word; padding-top: 20px; padding-bottom: 20px;" class="col-md-12">
        <span v-for="word in words">{{ word.text }}<br></span>
      </code>
    </div>
    <div class="clearfix"></div>
  </div>
</template>

<script>
function getRandomPassword (length, callback) {
  var upperCase = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
  var lowerCase = upperCase.toLowerCase()
  var numbers = '1234567890'
  var specialCharacters = '{}[];:,./?_+~!@#'
  var randomCode = ''

  var index = 0
  var min = 0
  var max = lowerCase.length - 1
  for (var i = 0; i < Math.abs(length / 3); i++) {
    index = Math.floor(Math.random() * (max - min + 1)) + min
    randomCode = randomCode + lowerCase[index]
  }
  max = upperCase.length - 1
  for (i = 0; i < Math.abs(length / 3); i++) {
    index = Math.floor(Math.random() * (max - min + 1)) + min
    randomCode = randomCode + upperCase[index]
  }
  max = numbers.length - 1
  for (i = 0; i < Math.abs(length / 3); i++) {
    index = Math.floor(Math.random() * (max - min + 1)) + min
    randomCode = randomCode + numbers[index]
  }
  max = specialCharacters.length - 1
  for (i = 0; i < Math.abs(length / 3); i++) {
    index = Math.floor(Math.random() * (max - min + 1)) + min
    randomCode = randomCode + specialCharacters[index]
  }

  var str = randomCode
  var newStr = ''
  var n = randomCode.length

  while (n) {
    index = Math.floor(Math.random() * n)
    newStr += str.charAt(index)
    str = str.substring(0, index) + str.substr(index + 1)
    n--
  }

  callback(newStr)
}

function getPasswords (quantity, length) {
  var words = []
  for (var i = 0; i < quantity; i++) {
    getRandomPassword(length, function (word) {
      words.push({ text: word })
    })
  }
  return words
}

const defaultQty = 5
const defaultLen = 25

export default {
  data () {
    return {
      qty: defaultQty,
      len: defaultLen,
      words: [],
      error: ''
    }
  },
  ready: function () {
    this.words = getPasswords(this.qty, this.len)
  },
  watch: {
    'qty': function (val, oldVal) {
      this.words = getPasswords(val, this.len)
    },
    'len': function (val, oldVal) {
      this.words = getPasswords(this.qty, val)
    }
  },
  methods: {
    generateRP () {
      this.words = getPasswords(this.qty, this.len)
      this.error = ''
    },
    reset () {
      this.qty = defaultQty
      this.len = defaultLen
      this.error = ''
    }
  }
}
</script>

<style lang="stylus" scoped>
@import "../../variables.styl"

*
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box

input[type="range"]
  -webkit-appearance none
  -webkit-tap-highlight-color rgba(255, 255, 255, 0)
  width 100%
  height 20px
  margin 0
  border none
  padding 1px 2px
  border-radius 14px
  background #232528
  box-shadow inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42
  -webkit-box-shadow inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42
  outline none

input[type="range"]::-moz-range-track
  border inherit
  background transparent

input[type="range"]::-ms-track
  border inherit
  color transparent
  background transparent

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper
  background transparent

input[type="range"]::-ms-tooltip
  display none

input[type="range"]::-webkit-slider-thumb
  -webkit-appearance none
  width 40px
  height 18px
  border none
  border-radius 12px
  background-image -webkit-gradient(linear, left top, left bottom, color-stop(0%, $bg-gradient-top), color-stop(100%, $bg-gradient-bottom))
  background-image -webkit-linear-gradient(top , $bg-gradient-top  0, $bg-gradient-bottom 100%)
  background-image linear-gradient(to bottom, $bg-gradient-top  0, $bg-gradient-bottom 100%)

input[type="range"]::-moz-range-thumb
  width 40px
  height 18px
  border none
  border-radius 12px
  background-image linear-gradient(to bottom, $bg-gradient-top  0, $bg-gradient-bottom 100%)

input[type="range"]::-ms-thumb
  width 40px
  height 18px
  border-radius 12px
  border 0
  background-image linear-gradient(to bottom, $bg-gradient-top  0, $bg-gradient-bottom 100%)
</style>