<template>
  <div class="row">
    <div class="col-md-12">
      <h1>About this website</h1>
      <p class="text-justify">
        The information contained in this website is for general information purposes only. 
        The information is provided by loosetool and while we endeavour to keep the information 
        up to date and correct, we make no representations or warranties of any kind, express or 
        implied, about the completeness, accuracy, reliability, suitability or availability with 
        respect to the website or the information, products, services, or related graphics contained 
        on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.
      </p>
      <p class="text-justify">
        In no event will we be liable for any loss or damage including without limitation, indirect 
        or consequential loss or damage, or any loss or damage whatsoever arising from loss of data 
        or profits arising out of, or in connection with, the use of this website.
      </p>
      <p class="text-justify">
        Through this website you are able to link to other websites which are not under the control 
        of loosetool. We have no control over the nature, content and availability of those sites. 
        The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them.
      </p>
      <p class="text-justify">
        Every effort is made to keep the website up and running smoothly. However, loosetool takes 
        no responsibility for, and will not be liable for, the website being temporarily unavailable due to 
        technical issues beyond our control.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2>Original idea</h2>
      <ul>
        <li><a href="https://adfsrelaystate.codeplex.com/releases/view/93202" target="_new">Microsoft's AD FS 2.0 RelayState Generator</a></li>
        <li><a href="http://meyerweb.com/eric/tools/dencoder/" target="_new">meyerweb.com's URL Decoder/Encoder</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <h2>Frontend</h2>
      <ul>
        <li>Photo credit to <a href="https://unsplash.com/toddquackenbush" target="_new">Todd Quackenbush</a></li>
        <li><a href="https://vuejs.org/">Vue.js</a></li>
        <li><a href="https://bootswatch.com">Bootswatch</a></li>
        <li><a href="http://getbootstrap.com">Bootstrap</a></li>
        <li><a href="https://fortawesome.github.io/Font-Awesome/">Font Awesome</a></li>
        <li><a href="http://kushagragour.in/lab/hint/">hint.css</a></li>
        <li><a href="https://clipboardjs.com">clipboard.js</a></li>
      </ul>
    </div>
  </div>
</template>