<template>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target="#main-navbar" class="navbar-toggle collapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a v-link="{ path: '/' }" class="navbar-brand">Loose Tools</a>
      </div>
      <div id="main-navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav pull-left">
          <li><a v-link="{ path: '/adfs' }" class="hint--bottom" data-hint="ADFS RelayState Generator"><i class="fa fa-windows fa-2x"></i></a></li>
          <li><a v-link="{ path: '/encoder' }" class="hint--bottom" data-hint="URL Encoder/Decoder"><i class="fa fa-code fa-2x"></i></a></li>
          <li><a v-link="{ path: '/pwgen' }" class="hint--bottom" data-hint="Password Generator"><i class="fa fa-key fa-2x"></i></a></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <li><a href="https://gitlab.com/mkaag/loosetools" class="hint--bottom" data-hint="Source code" target="_new"><i class="fa fa-code-fork fa-2x"></i></a></li>
          <li><a href="https://gitlab.com/mkaag/loosetools/issues" class="hint--bottom" data-hint="Report an issue" target="_new"><i class="fa fa-bug fa-2x"></i></a></li>
          <li><a v-link="{ path: '/about' }" class="hint--bottom" data-hint="About this website"><i class="fa fa-question-circle fa-2x"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <router-view></router-view>
  </div>

  <footer>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <hr>
        <ul class="list-unstyled">
          <li><a v-link="{ path: '/privacy' }">Privacy</a></li>
          <li><a v-link="{ path: '/terms' }">Terms</a></li>
          <li><a href="https://blog.afterthoughts.xyz" target="_new">Blog</a></li>
          <li><a href="https://github.com/mkaag" target="_new">GitHub</a></li>
          <li><a href="https://gitlab.com/mkaag" target="_new">GitLab</a></li>
        </ul>
        <p> </p>
        <div class="pull-left small">Handcrafted with <i class="fa fa-heart"></i> in Switzerland</div>
        <div class="pull-right small"><i class="fa fa-tag"></i> <a href="https://gitlab.com/mkaag/loosetools" target="_new">loosetools v0.1.2</a></div>
      </div>
    </div>
  </footer>
</template>

<style>
  body { 
    padding-top: 50px;
  }
  a:link, a:visited,
  a:hover, a:active { 
    text-decoration: none;
  }
  .well {
    opacity: 0.9;
    margin: 0;
    filter: alpha(opacity=90);
  }
  .container .push {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -210px;
  }
  footer {
    background-color: #2b3e50;
    height: 210px;
  }
  footer li {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em; 
  }
  footer p {
    clear: left;
    margin-bottom: 1.5em;  
  }
  code ul {
    list-style-type: none;
  }
</style>
