<template>
  <img src="../assets/tools_ordered.jpg" class="bg">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <div class="h1">Welcome to Loose Tools</div>
        <p>A collection of loose tools</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <div class="well">
        <h3>ADFS RelayState Generator</h3>
        <p>&nbsp;</p>
        <p><a v-link="{ path: '/adfs' }" class="btn-lg btn-primary"><i class="fa fa-windows"></i> Give a try</a></p>
      </div>
    </div>
    <div class="col-md-5">
      <div class="well">
        <h3>URL Encoder/Decoder</h3>
        <p>&nbsp;</p>
        <p><a v-link="{ path: '/encoder' }" class="btn-lg btn-primary"><i class="fa fa-code"></i> Give a try</a></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <div class="well">
        <h3>Password Generator</h3>
        <p>&nbsp;</p>
        <p><a v-link="{ path: '/pwgen' }" class="btn-lg btn-primary"><i class="fa fa-key"></i> Give a try</a></p>
      </div>
    </div>
  </div>
</template>

<style>
  @media screen and (max-width: 1024px) {
    img.bg {
      left: 50%;
      margin-left: -512px;
    }
  }
  img.bg {
    opacity: 0.6;
    filter: alpha(opacity=60);
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
  }
  .jumbotron {
    background-color: transparent;
  }
</style>