<template>
  <div class="row">
    <div class="col-md-12">
      <h1>Privacy Policy</h1>
      <p class="lead text-justify">
        This privacy policy sets out how loosetools uses and protects any information 
        that you give when you use this website.
        loosetools is committed to ensuring that your privacy is protected.
        loosetools may change this policy from time to time by updating this page.
        You should check this page from time to time to ensure that you are happy with any changes.
        This policy is effective from May 2015.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>What we collect</h2>
      <p class="text-justify">
        Despite the fact that forms might prompt you to enter information, the information shared with this
        website does not reach the server hosting this website or any other automated systems.
        This information simply resides on your own browser.
      </p>
      <h2>Security</h2>
      <p class="text-justify">
        We are committed to ensuring that your information is secure.
        In order to prevent unauthorized access or disclosure, we recommend you to access
        this website over HTTPS protocol.
      </p>
      <h2>Links to other websites</h2>
      <p class="text-justify">
        This website may contain links to other websites of interest.
        However, once you have used these links to leave our site, you should note that we
        do not have any control over that other website. Therefore, we cannot be responsible
        for the protection and privacy of any information which you provide whilst visiting
        such sites and such sites are not governed by this privacy statement. You should exercise
        caution and look at the privacy statement applicable to the website in question.
      </p>
    </div>
  </div>
</template>
